<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check Things</h1>

    <form method="post" action="/predict">
        <label>Experience</label><br>
        <input type="number" name="experience"><br><br>

        <label for="education_level">Education level:</label>
        <select id="mydropdown" name="education_level">
        <option value="option1">Schooling</option>
        <option value="option2">Graduate</option>
        <option value="option3">Masters</option>
        <option value="option4">Phd</option>
        </select><br><br>

        <label for="enrolled_university">Enrollment In University:</label>
        <select id="mydropdown" name="enrolled_university">
        <option value="option1">No enrollment</option>
        <option value="option2">Full time</option>
        <option value="option3">Part time</option>
        </select><br><br>

        <label>Company Size</label><br>
        <input type="number" name="company_size"><br><br>

        <label>City Development Index</label><br>
        <input type="number" name="city_development_index"><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>

 </body>
</html>


